* {
    color: white;
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE и Edge */
}

.container::-webkit-scrollbar {
     display: none; /* Chrome, Safari, Opera */
}

body {
    background-image: url(./img/main/background.png);
    background-size: cover;
}

.first-block {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.skull-image {
    width: 45vw;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 60vw;
    padding-right: 6vw;
}

.bloclave-title {
    font-size: 10vw;
    font-weight: bold;
    text-align: right;
    padding-top: 10vh;
}

.description-text {
    width: 50vw;
    font-size: 2.6vh;
    text-align: right;
    padding-bottom: 5vh;
}


.middle-block {
    padding-left: 3vw;
    height: 100vh;
    padding-top: 4vw;
    display: flex;
    flex-direction: column;
}

.donates-container {
    display: flex;
    flex-direction: row;
}

.donates {
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    padding-left: 1vw;
}

.contacts-container {
    display: flex;
    flex-direction: row;
}

.contact-donate-block {
    background-image: url(./img/main/contact&donate.png);
    background-size: cover;
    width: 25vw;
    height: 60vh;
}

.service-card {
    display: flex;
    width: 25vw;
    height: 21.15vh;
    background-color: aliceblue;
    margin: 10px 10px 10px 10px;
    text-align: center;
    align-items: center;
    font-size: 3vw;
    justify-content: center;
}

#prefix {
    background-image: url(img/main/card1.png);
    background-size: cover;
}

#mes-color {
    background-image: url(img/main/card2.png);
    background-size: cover;
}

#discord {
    background-image: url(img/main/card3.png);
    background-size: cover;
}

#telegram {
    background-image: url(img/main/card4.png);
    background-size: cover;
}

#youtube {
    background-image: url(img/main/card5.png);
    background-size: cover;
}

/* hover */
#prefix:hover {
    background-image: url(img/main/card12.png);
    background-size: cover;
}

#mes-color:hover {
    background-image: url(img/main/card22.png);
    background-size: cover;
}

#discord:hover {
    background-image: url(img/main/card32.png);
    background-size: cover;
}

#telegram:hover {
    background-image: url(img/main/card42.png);
    background-size: cover;
}

#youtube:hover {
    background-image: url(img/main/card52.png);
    background-size: cover;
}

/* ========= */
.footer {
    height: 18vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    gap: 2vh;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.contact-telegram:hover {
    color: #24adf3;
}

.contact-discord:hover {
    color: #5561f5;
}
